@page
@model Website.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>
<p>Founded in 2022 by students of the CIS 400 course, Gyro Scope offers the finest and fastest mediterranean foods as suggested by the alignments of the stars.</p>
