@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<h1 class="title">Privacy Policy</h1>
<p class ="paragraph">Gyro Scope respects the privacy of our diners. This site will not ask for your sign. This site does not collect your data. This site does not use cookies. This site only offers information about Gyro Scope restaurant and its menu selection.</p>
