<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Gyroscope</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>
<body>
    <header>
        <nav class="navbar-container">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Gyroscope</a>
                <a class="navbar-brand" asp-area="" asp-fragment="entrees" asp-page="/Index">Entrees</a>
                <a class="navbar-brand" asp-area="" asp-fragment="sides" asp-page="/Index">Sides</a>
                <a class="navbar-brand" asp-area="" asp-fragment="drinks" asp-page="/Index">Drinks</a>
                <a class="navbar-brand" asp-area="" asp-fragment="treats" asp-page="/Index">Treats</a>
                <a class="navbar-brand" asp-area="" asp-page="/Privacy">Privacy</a>
                <a class="navbar-brand" asp-area="" asp-page="/About">About</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="mainBody">
            @RenderBody()
        </main>
    </div>

    <footer class="copyright">
        <div class="container">
            Copyright &copy; 2021 - Gyroscope
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
